<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.ItemMapper">

	<!-- 검색 유형과 검색어의 조합으로 다양한 쿼리를 동적으로 생성 -->
	<sql id="search">
		<if test="keyword != null">
			AND itemName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</sql>

	<insert id="create">
		INSERT INTO item
			(
			itemName,
			price,
			description,
			pictureUrl,
			previewUrl
			)
		VALUES
			(
			#{itemName},
			#{price},
			#{description},
			#{pictureUrl},
			#{previewUrl}
			)
	</insert>
	
	<select id="read" resultType="org.hdcd.domain.Item">
		SELECT itemId,
			itemName,
			price,
			description,
			pictureUrl,
			previewUrl
		  FROM item
		 WHERE itemId = #{itemId}
	</select>
	
	<update id="update">
		UPDATE item
		   SET itemName = #{itemName},
		  	   price = #{price},
		  	   description = #{description},
		  	   pictureUrl = #{pictureUrl},
		  	   previewUrl = #{previewUrl}
		 WHERE itemId = #{itemId}	
	</update>
	
	<delete id="delete">
		DELETE FROM item
		WHERE itemId = #{itemId}
	</delete>
	
	<select id="list" resultType="org.hdcd.domain.Item">
		<![CDATA[
			SELECT itemId,
				itemName,
				price,
				description,
				pictureUrl,
				previewUrl
			  FROM item
			 WHERE itemId > 0
		]]>
	
		<include refid="search"></include>
		
		<![CDATA[
			 ORDER BY itemId DESC
			 LIMIT #{pageStart}, #{sizePerPage}	
		]]>
	</select>
	
	<select id="count" resultType="int">
		<![CDATA[
			SELECT count(itemId)
			  FROM item
			 WHERE itemId > 0
		]]>	 
		
		<include refid="search"></include>
	</select>

	<select id="getPicture" resultType="String">
		SELECT pictureUrl
		  FROM item
		 WHERE itemId = #{itemId}
	</select>
	
	<select id="getPreview" resultType="String">
		SELECT previewUrl
		  FROM item
		 WHERE itemId = #{itemId}
	</select>

</mapper>