<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.BoardMapper">

	<!-- 검색 유형과 검색어의 조합으로 다양한 쿼리를 동적으로 생성 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				AND writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND (	title LIKE CONCAT('%', #{keyword}, '%')
						OR content LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				AND (	content LIKE CONCAT('%', #{keyword}, '%')
						OR writer LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				AND (	title LIKE CONCAT('%', #{keyword}, '%')
						OR content LIKE CONCAT('%', #{keyword}, '%')
						OR writer LIKE CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>

	<insert id="create">
		INSERT INTO board
			(
			title,
			content,
			writer
			)
		VALUES
			(
			#{title},
			#{content},
			#{writer}
			)
	</insert>
	
	<select id="read" resultType="org.hdcd.domain.Board">
		SELECT boardNo,
			title,
			content,
			writer,
			regDate
		  FROM board
		 WHERE boardNo = #{boardNo}
	</select>

	<update id="update">
		UPDATE board 
		   SET title = #{title},
		   	content = #{content}
		 WHERE boardNo = #{boardNo}
	</update>
	
	<delete id="delete">
		DELETE FROM board
		 WHERE boardNo = #{boardNo}
	</delete>
	
	<select id="list" resultType="org.hdcd.domain.Board">
		<![CDATA[
			SELECT boardNo,
				title,
				content,
				writer,
				regDate
			  FROM board
			 WHERE boardNo > 0
		]]>	 
		
		<include refid="search"></include>
		
		<![CDATA[
			 ORDER BY boardNo DESC,
			 	regDate DESC
			  LIMIT #{pageStart}, #{sizePerPage}	
		]]>
	</select>
	
	<!-- 검색 처리된 게시글 건수를 조회 -->
	<select id="count" resultType="int">
		<![CDATA[
			SELECT count(boardNo)
			  FROM board
			 WHERE boardNo > 0
		]]>	 
		
		<include refid="search"></include>
		
	</select>
</mapper>