<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.ReplyMapper">

	<insert id="create">
		INSERT INTO reply
			(
			boardNo,
			replyWriter,
			replyContent
			)
		VALUES
			(
			#{boardNo},
			#{replyWriter},
			#{replyContent}	
			)
	</insert>
	
	<select id="list" resultType="org.hdcd.domain.Reply">
		SELECT replyNo,
			replyWriter,
			replyContent,
			regDate
		  FROM reply
		 WHERE boardNo = #{boardNo}
	</select>
	
	<update id="update">
		UPDATE reply
		   SET replyContent = #{replyContent}
		 WHERE replyNo = #{replyNo}
	</update>
	
	<delete id="delete">
		DELETE FROM reply
		 WHERE replyNo = #{replyNo}
	</delete>

</mapper>
